# Виртуальные окружения
venv/
.venv/
.env

# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Сгенерированные данные
data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
