# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Data and Results
data/*.csv
data/rules_history
data/generation_mode.txt
*.csv
!tests/fixtures/*.csv
predict*
!requirements.txt
*.db

# IDEs
.vscode/
.idea/

# Streamlit secrets (never commit!)
.streamlit/secrets.toml

#Jupyter
.ipynb_checkpoints/
